body {
    font-size: 14px;
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    color: #000000;
    line-height: 24px;
    font-weight: normal;
    background: white;
    min-width: 960px;
    margin: 0px;
}

.header-main-title {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    font-weight: lighter;
}

.header-dominant {
    background: #f1f5f7;
    font-family: "Cuprum", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.search-bookmarks {
    background: #293449;
}

.logo-techmart {
    color: #ffffff;
    background: #ee3643;
    font-size: 24px;
    width: 219px;
    text-align: center;
    float:left;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 42px;
    box-shadow: #ca2c37 0px 5px 0px 0px;
}

.logo-techmart:hover {
    background-color: #ca2c37;
    box-shadow: #9a212a 0px 5px 0px 0px;
}

.logo-techmart:active {
    background-color: #ba2732;
    box-shadow: #8e1e26 0px 5px 0px 0px;
}

.formline {
    float:left;
    width: 270px;
    background: #293449;
    padding-top: 11px;
    padding-bottom: 7px;
    position: relative;
}

.formline::before {
    content:"";
    position: absolute;
    left: 16px;
    width: 17px;
    height: 17px;
    background-image: url("../img/sprite.png");
    display: inline-block;
    opacity: 0.4;
    background-position: -77px -302px;
}

.formline label {
    display: none;
}

.input-formline {
    background: #293449;
    font-size: 17px;
    font-family: "Cuprum";
    outline: none;
    border: solid #293449 0px;
    color: white;
    vertical-align: top;
    padding-left: 48px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin:0px;
}

.input-formline::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
}

.input-formline::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}

.input-formline::-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}

.formline:hover {
    background: #212a3a;
    border: white 0px;
}

.formline:hover .input-formline {
    background: #212a3a;
    border: white 0px;
}

.input-formline :hover {
    background: #212a3a;
    border: white 0px;
}

.formline:hover::before {
    content:"";
    opacity:1;
}

.formline :focus {
    width: 270px;
    color:black;
    background: #ffffff url("../img/search-red.png") no-repeat 20px 12px;
    display: block;
    height: 42px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    padding-left: 48px;
}

.formline .input-formline:focus {
    background: #ffffff url("../img/search-red.png") no-repeat 20px 12px;
    border: white 0px;
}

.bookmark::before {
    content: "";
    width: 14px;
    height: 16px;
    background-position: -77px -20px;
    background-image: url("../img/sprite.png");
    display: inline-block;
    position: absolute;
    left: 18px;
    opacity: 0.3;
}

.bookmark:hover::before {
    opacity:1;
}

.nav-line-links {
    font-size: 17px;
    color: white;
    text-decoration: none;
    line-height: 16px;
    display: block;
}

.bookmark {
    float:left;
    width: 105px;
    padding-top: 12px;
    padding-left: 45px;
    padding-bottom: 14px;
    position: relative;
}

.basket {
    float: left;
    width: 100px;
    padding-bottom: 14px;
    padding-left: 50px;
    padding-top: 12px;
    position: relative;

}

.basket:hover, 
.bookmark:hover {
    background: #212a3a;
    color: rgba(0,0,0,0.5);
}

.basket:active,
.bookmark:active {
    background: #161d29;
    opacity: 0.7;
}

.basket::before {
    content:"";
    position: absolute;
    left:17px;
    width: 17px;
    height: 16px;
    background-image: url("../img/sprite.png");
    background-position: -20px -20px;
    display: inline-block;
    opacity:0.3;
}

.basket:hover::before {
    opacity:1;
}

.checkout {
    background: #63a63e;
    width: 150px;
    margin-left: 0px;
    padding-top: 12px;
    text-align: center;
    float: left;
    padding-bottom: 14px;
}

.checkout:hover {
    background: #5fbb2d;
}

.checkout:active {
    background: #518534;
    opacity: 0.7;
}

.header-left-block {
    width: 621px;
    float: left;
    padding-top: 25px;
    margin-bottom: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.user-block {
    float: right;
    width: 300px;
    margin-top: 20px;
}

.header-low h1 {
    float: left;
    width: 210px;
    margin-top: 23px;
    margin-left: 51px;
}

.phone {
    position: relative;
    width: 270px;
    color: #e9292a;
    font-size: 21px;
    border: solid white 3px;
    text-align: center;
    margin-top: 21px;
    margin-left: 57px;
    margin-right: 10px;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 7px;
    float: left;
    box-sizing: border-box;
}

.phone::before {
    content: "";
    position: absolute;
    line-height: 18px;
    width: 19px;
    height: 19px;
    background: url("../img/sprite.png");
    top: 10px;
    left: 12px;
    background-position: -264px -191px;
}

.address {
    color: #32425c;
    margin-right: 41px;
    padding-top: 4px;
    float: right;
    line-height: 24px;
}

.enter::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background-position: -204px -215px;
    background-image: url("../img/sprite.png");
    top:14px;
    left: 14px;
}

.enter:hover::before {
    content: "";
    position: absolute;
    background: url("../img/sprite.png");
    width: 20px;
    height: 17px;
    top:14px;
    left: 14px;
    background-position: -261px -20px;
}

.enter {
    font-size: 21px;
    color: black;
    background: white;
    text-decoration: none;
    padding-top: 14px;
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    margin-left: 18px;
    padding-left: 48px;
    padding-right: 25px;
    padding-bottom: 13px;
    position: relative;
    line-height: 18px;
}

.enter:hover {
    color:#ee3643;
}

.enter:active {
    color:#cacaca;
}

.enter:active::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background-position: -204px -215px;
    background-image: url("../img/sprite.png");
    top:14px;
    left: 14px;
}

.registration {
    font-size: 21px;
    color: black;
    background: white;
    text-align: center;
    text-decoration: none;
    margin-left: 7px;
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 13px;
    vertical-align: top;
    margin-top: 25px;
    line-height: 18px;
    padding-left: 24px;
    padding-right: 24px;
}

.registration:hover {
    color:#ee3643;
}

.registration:active {
    color:#cacaca;
}

.header-low {
    background: #f1f5f7;
    padding-top: 0px;
    padding-bottom: 60px;
}

.main-menu {
    background: #32425c;
    margin: auto;
    width: 940px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: 5px solid #293449;
}

.nav-menu {
    list-style-type: none;
    margin: 0px;
    padding:0px;
}

.nav-menu li {
    display: inline-block;
    text-align: center;
}

.header-nav {
    font-size: 17px;
    color: white;
    display: block;
    padding: 19px 0px 19px 0px;
    line-height: 17px;
}

.nav-menu li:nth-child(1) {
    width:154px;
}

.nav-menu li:nth-child(2) {
    width:88px;
}

.nav-menu li:nth-child(3) {
    width:137px;
}

.nav-menu li:nth-child(4) {
    width:85px;
}

.nav-menu li:nth-child(5) {
    width:198px;
}

.nav-menu li:nth-child(6) {
    width:100px;
}

.nav-menu li:nth-child(7) {
    width:143px;
    padding-right:13px;
}

.nav-menu li:hover {
    background:#293449;
}

.nav-menu li:active {
    background:#1d2739;
    opacity:0.4;    
}

.content-block-a {
    width: 300px;
    padding-bottom: 22px;
    float: left;
    color: white;
    background: #f6b22d;
    margin-right: 20px;
    background-image: url("../img/bucket.png");
    background-repeat: no-repeat;
    background-position: 83% 54%;
    margin-left: 0px;
    position: relative;
}

.badge-new {
    position: absolute;
    background-image: url("../img/new.png");
    left: 240px;
    background-repeat: no-repeat;
    bottom: 64px;
    width: 60px;
    height: 59px;
}

.content-block-b {
    width: 300px;
    padding-bottom: 22px;
    float: left;
    color: white;
    background: #4aafde;
    font-size: 24px;
    margin-right: 10px;
    background-image: url("../img/drel.png");
    background-repeat: no-repeat;
    background-position: 87% 54%;
    margin-left: 0px;
    position: relative;
}

.content-block-b a {
    background: #429dc7;
    margin-left: 24px;
}

.content-block-c {
    width: 300px;
    float: left;
    color: white;
    background: #cc79d1;
    font-size: 24px;
    margin-left: 10px;
    background-image: url("../img/traktor.png");
    background-repeat: no-repeat;
    background-position: 86% 52%;
    position: relative;
    padding-bottom: 22px;
}

.content-block-c a {
    background: #b76dbc;
    margin-left: 22px;
}

.content-block-d {
    width: 300px;
    padding-bottom: 22px;
    float: right;
    color: white;
    background: #85d179;
    font-size: 24px;
    background-image: url("../img/korzina.png");
    background-repeat: no-repeat;
    background-position: 81% 54%;
    position: relative;
}

.content-block-d a {
    background: #77bc6d;
    margin-left: 23px;
}

.content-block-e {
    width: 300px;
    padding-bottom: 22px;
    float: right;
    color: white;
    background: #f6b22d;
    font-size: 24px;
    background-image: url("../img/car.png");
    background-repeat: no-repeat;
    background-position: 86% 54%;
    margin-top: 20px;
    position: relative;
}

.content-block-e a {
    background: #dda028;
    margin-left: 23px;
}

.content-block-d .items-name {
    margin-left: -1px;
    display: inline-block;
}

.color-links {
    font-size: 14px;
    width: 135px;
    line-height: 38px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    text-transform: uppercase;
    margin-left: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 2px;
    box-sizing: border-box;
}  

.color-links:hover {
    background:rgba(0, 0, 0, 0.2);
}

.color-links:active {
    background:rgba(0, 0, 0, 0.3);
}

.items-name  {
    display: inline-block;
    font-size: 24px;
    color: white;
    padding-left: 23px;
    margin-bottom: 10px;
    padding-right: 0px;
    letter-spacing: 0.5px;
    margin-top:24px;
}

.up-promo {
    padding-top: 59px;
}

.slider {
    /*стилизация слайдера*/
    position: relative;
    float: left;
    width: 620px;
    min-height: 266px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-title {
    display: block;
    margin-left: 22px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 26px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 30px;
}

.slide-text {
    display: inline-block;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 24px;
    padding-right: 0px;
}

.open-catalog {
    display: block;
    color: white;
    width: 193px;
    background: #ee3643;
    font-size: 14px;
    padding-top: 10px;
    margin-left: 24px;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    margin-top: 121px;
    padding-left: 2px;
    line-height: 18px;
    padding-bottom: 10px;
}

.open-catalog:hover,
.link-main-pop-products:hover,
.btn:hover,
.btn-feedback:hover,
.credit-a:hover {
    background:#ca2c37;
}

.open-catalog:active, 
.link-main-pop-products:active,
.btn:active,
.btn-feedback:active,
.credit-a:active {
    background:#ba2732;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    top: 220px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    width: 6px;
    min-height: 6px;
    margin: 0 3px;
    background: white;
    border: 2px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background: white;   
}

#botn-1:checked~.slider-controls label[for="botn-1"],
#botn-2:checked~.slider-controls label[for="botn-2"] {
    background: #ee3643;
}

.slide:nth-child(1) {
    background-image: url("../img/man1.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.slide:nth-child(2) {
    background-image: url("../img/man2.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.slide {
    display: none;
}

span.left {
    position: absolute;
    color: white;
    font-size: 55px;
    font-family: "Cuprum bold";
    left: -186px;
    bottom: 76px;
    text-transform: uppercase;
}

span.right {
    position: absolute;
    color: white;
    font-size: 55px;
    left: 366px;
    bottom: 76px;
    font-family: "Cuprum bold";
    text-transform: uppercase;
}

#botn-1:checked~.slides .slide:nth-child(1) {
    display: block;
}

#botn-2:checked~.slides .slide:nth-child(2) {
    display: block;
}

.slides {
    overflow: hidden;
    height: 266px;
}


/*стилизация слайдере закончена*/

.down-promo {
    margin-top: 20px;
    margin-bottom: 53px;
}

.items {
    /*дрели стилизация*/
    width: 940px;
    margin: 0px auto;
}

.item {
    position: relative;
    display: inline-block;
    width: 218px;
    outline: 1px solid #ccc;
    margin-right: 19px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 22px;
    line-height: 20px;
}

.item:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
    outline:0px;
}

.item:nth-child(4) {
    width: 217px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.item:nth-child(4):hover {
    width: 218px;
}


.item-image {
    width: 218px;
    height: 168px;
}

.perforator {
    display: inline-block;
    padding-top: 6px;
    margin-top: 0px;
}

.two {
    padding-top: 27px;
    padding-right: 15px;
}

.three {
    padding-top: 20px;
    padding-right: 23px;
}

.four {
    padding-top: 25px;
    padding-right: 30px;
}


.item-image img {
    max-width: 100%;
}

.item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.item .flag-new {
    background: url("../img/new.png") no-repeat 0 0;
}

.item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

.buy,
.buy-bookmarks {
    display: block;
    width: 129px;
    margin: 0 auto 7px;
    margin-bottom: 7px;
    padding: 7px 0px 7px 4px;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum","Arial", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}

.buy::before {
    content:"";
    position: absolute;
    width: 17px;
    height: 16px;
    background-position: -20px -20px;
    background-image: url("../img/sprite.png");
    opacity: 0.3;
    top: 50px;
    left: 52px;    
}

.buy:hover {
    background-color:#5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom-color: #367315;
}

.buy:hover::before {
    opacity: 1;
}

.buy:active {
    background-color:#518534;
    border-color: #518534;
    border-bottom-color: #518534;
}

.buy-bookmarks {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.buy-bookmarks:hover {
    border: 3px solid #32425c;
}

.buy-bookmarks:active {
    opacity: 0.5;
}

.item .actions {
    display: none;
}

.item:hover .actions {
    display: block;
}

.item-title {
    padding: 0 20px;
    margin-top: 11px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "PT Sans";
    font-weight: bold;
    line-height: 20px;
}

.item-title:nth-child(4) {
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 46px;
}

.item .del {
    min-height: 20px;
    margin-bottom: 15px;
    color: #999;
    text-decoration: line-through;
    font-size: 17px;
    font-family: "PT Sans";
    font-weight: bold;
    padding-left: 0px;
}

.item .price {
    position: relative;
    width: 81px; 
    margin: -7px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    padding-left: 30px;
    margin-left: 5px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
    font-size: 17px;
    display: inline-block;
    font-family: "PT Sans";
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 18px;
}

.item .price:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -20px;
    width: 0px;
    height: 0px;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.popular-products {
    width: 940px;
    background: #f7f3ec;
    margin-top: 0px;
    margin-bottom: 21px;
    padding-bottom: 3px;
}

.main-pop-products {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: lighter;
    float: left;
    margin-left: 26px;
    padding-top: 6px;
    line-height: 30px;
    color: #32425c;
}

.link-main-pop-products {
    float: right;
    color: white;
    width: 253px;
    background: #ee3643;
    margin-right: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 26px;
    padding-left: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px 0px;
    line-height: 18px;
}

.brand-head {
    margin-bottom: 23px;
    padding-bottom: 4px;
}

.brands {
    width: 217px;
    outline: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-bottom: 22px;
    min-height: 143px;
    vertical-align: top;
    display: inline-block;
}

.brands:active {
    background-color:white;
    opacity:0.2;
}

.brands:nth-child(5) {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.brands:nth-child(9) {
    margin-right: 0px;
    margin-left: 0px;
}

.brand-badge {
    display: block;
    text-align: center;
    padding-top: 24%;
}

.brands:hover {
    border: none;
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands:active {
    border: none;
    opacity: 0.3;
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand-badge-2 {
    display: block;
    padding-top: 48px;
    padding-left: 0px;
    text-align: center;   
}

.brand-badge-3 {
    display: block;
    padding-top: 46px;
    padding-left: 0px;
    text-align: center;
}

.brand-badge-4 {
    display: block;
    padding-top: 20px;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 0px;
}

.brand-badge-5 {
    display: block;
    padding-top: 56px;
    padding-left: 0px;
    text-align: center;
}

.brand-badge-6 {
    display: block;
    text-align: center;
    padding-top: 33px;
}

.brand-badge-7 {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.services {
    background: #f2f6f8;
    margin-top: 64px;
}

.h-down {
    display: inline-block;
    margin-top: 62px;
    margin-bottom: 40px;
}

.pre-slider {
    display: block;
    margin-top: 23px;
    margin-bottom: 30px;
    font-size: 13px;
    font-family: "PT Sans";
    width: 400px;
}

/*стилизация слайдера*/

.s-slider {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.s-slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.s-slider-controls {
    position: absolute;
    top: 100%;
    left: 20%;
    width: 240px;
    height: 10px;
    margin-left: 100px;
    text-align: center;
    z-index: 100;
    display: block;
}

.s-slider-controls label {
    display: inline-block;
    width: 218px;
    margin: 0px 0px;
    background: #32425c;
    cursor: pointer;
    color: white;
    text-align: left;
    padding-left: 22px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 20px;
    vertical-align: top;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
}

#btn-1:checked~.s-slider-controls label[for="btn-1"],
#btn-2:checked~.s-slider-controls label[for="btn-2"],
#btn-3:checked~.s-slider-controls label[for="btn-3"] {
    background: #ffffff;
    color: #32425c;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-top: 14px;
}

.s-slide {
    /*управление картинкой*/
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.s-slide-text {
    width: 375px;
    padding: 5px 5px;
    position: absolute;
    left: 33.5%;
    top: 0%;
    margin-bottom: 50px;
    font-size: 13px;
    font-family: "PT Sans";
}

.title-s-slide {
    font-size: 36px;
    color: #32425c;
    text-transform: uppercase;
    margin-top: 39px;
    font-family: "Cuprum";
    display: inline-block;
}

.s-slider-text2 {
    margin-top: 23px;
    width: 275px;
}

.s-slide:nth-child(1) {
    background-image: url("../img/car2.png");
    background-repeat: no-repeat;
    background-position: 100% 63px;
}

.s-slide:nth-child(2) {
    background-image: url("../img/garantiya.png");
    background-repeat: no-repeat;
    background-position: 100% 10px;
}

.s-slide:nth-child(3) {
    background-image: url("../img/kredit.png");
    background-repeat: no-repeat;
    background-position: 100% 10px;
}

.s-slider-controls {
    /* управление всем блоком кредит доставка гарантия*/
    position: absolute;
    bottom: 10px;
    left: -1px;
    width: 240px;
    margin-left: 0px;
    top: 41px;
    font-size: 21px;
    font-weight: bold;
}

.s-slider-controls:after {
    content: "";
    width: 10px;
    height: 272px;
    display: inline-block;
    background-image: url("../img/ten.png");
    position: absolute;
    top: -45px;
    right: 0px;
}

.credit-a {
    display: block;
    color: white;
    width: 195px;
    background: #ee3643;
    font-size: 14px;
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    font-family: "Cuprum";
    line-height: 18px;
    padding-bottom: 10px;
}

#btn-1:checked~.s-slides .s-slide:nth-child(1) {
    display: block;
}

#btn-2:checked~.s-slides .s-slide:nth-child(2) {
    display: block;
}

#btn-3:checked~.s-slides .s-slide:nth-child(3) {
    display: block;
}

label:hover {
    background:#293449;   
}

.s-slide {
    display: none;
}

.s-slides {
    overflow: hidden;
    height: 322px;
}

/*стилизация слайдера закончилась*/

.btn {
    float: left;
    color: white;
    background: #ee3643;
    padding-top: 10px;
    margin-right: 0px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 34px;
    padding-left: 40px;
    border-radius: 3px;
    font-family: "Cuprum";
    padding-right: 40px;
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 18px;
}

.btn-feedback {
    float: right;
    color: white;
    background: #ee3643;
    padding-top: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 33px;
    border-radius: 3px;
    line-height: 18px;
    font-family: "Cuprum";
    font-size: 14px;
    width: 300px;
}

.section-technomart {
    width: 550px;
    float: left;
    margin-top: 14px;
    margin-bottom: 86px;
    font-family: "PT Sans";
    font-size: 13px;
}

.section-map {
    width: 300px;
    float: right;
    margin-top: 14px;
    margin-bottom: 80px;
    margin-right: 0px;
}

.section-map p {
    display: inline-block;
    width: 180px;
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 13px;
    font-family: "PT Sans";
    margin-left: -1px;
}

.h-down {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: lighter;
    margin-bottom: 5px;
    padding-top: 6px;
    color: black;
}

.maps-text-1 {
    display: inline-block;
    width: 550px;
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 13px;
    font-family: "PT Sans";
}

.maps-text-2 {
    width: 390px;
    margin-top: 25px;
    margin-bottom: 0px;
    display: inline-block;
}


.section-technomart ul {
    width: 400px;
    margin-top: 18px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.shipping {
    list-style-type: none;
    font-size: 18px;
    font-family: "Cuprum";
    margin-top: 16px;
}

.shipping::before {
    content: "";
    background: url("../img/sprite.png") no-repeat;
    width: 25px;
    height: 2px;
    margin-bottom: 4px;
    margin-right: 10px;
    display: inline-block;
    background-position: -139px -215px;
}

/*footer*/

.blue-back {
    background: #32425c;
    margin-bottom: 14px;
}

.blue-back .logo-techmart {
    font-size: 30px;
    padding: 10.5px 0px;
    float: left;
}

.low-menu-1 {
    float: right;
    margin-top: 38px;
    padding-top: 0px;
}

.low-list-1 {
    display: inline-block;
    padding-left: 1px;
    margin: 0px;
}

.footer-contacts {
    font-size: 18px;
    color: white;
    width: 325px;
    float: left;
    margin-top: 32px;
    margin-bottom: 50px;
    margin-left: 3px;
}

.low-list-2 {
    margin-top: 33px;
    margin-bottom: 0px;
    display: inline-block;
    padding-left: 5px;
}

.footer-social {
    background: #293449;
    margin-top: -14px;
}

.low-list-1 li {
    display: inline-block;
    margin-right: 56px;
}

.low-list-1 :nth-child(5) {
    margin-right: 0px;
}

.low-list-1 a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.low-list-1 a:hover {
    text-decoration:underline;
    color:white;
}

.low-list-1 a:active {
    color:#9ea5af;
    text-decoration:none;
}

.low-menu-2 {
    float: right;
}

.low-list-2 a {
    text-decoration:none;
    font-size: 18px;
    color: #ebc27c;
    display: inline-block;
}

.low-list-2 a:hover {
    text-decoration: underline;
    color: #ebc27c;
}

.low-list-2 a:active {
    color:#ad956f;
    text-decoration: none;
}

.low-list-2 li {
    display: inline-block;
    margin-right: 56px;
}

.low-list-2 :nth-child(4) {
    margin-right: 0px;
}

.footer-social {
    background: #293449;
    padding-bottom: 50px;
}

.social {
    float: left;
    width: 150px;
    margin-top: 35px;
    margin-right: 100px;
}

.social-btn {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: #212a3a;
    border-radius: 50%;
    vertical-align: middle; 
    position: relative;
}

.sprite-icon-vk {
    background: #212a3a url("../img/sprite.png") -244px -287px no-repeat;
}

.sprite-icon-vk:hover {
    background: #ee3643 url("../img/sprite.png") -244px -287px no-repeat;
 }

.sprite-icon-facebook {
    background: #212a3a url("../img/sprite.png") -134px -73px no-repeat;
}

.sprite-icon-facebook:hover {
    background: #ee3643 url("../img/sprite.png") -134px -73px no-repeat;
}

.sprite-icon-instagramm {
    background: #212a3a url("../img/sprite.png") -69px -204px no-repeat;
}

.sprite-icon-instagramm:hover {
    background: #ee3643 url("../img/sprite.png") -69px -204px no-repeat;
}

.copyright {
    color: white;
    font-size: 16px;
    margin-left: 1px;
    float: left;
    width: 228px;
    margin-top: 20px;
    line-height: 18px;
    margin-right: 160px;
}

.developer {
    font-size: 16px;
    width: 138px;
    float: left;
    margin-top: 19px;
    margin-right: 0px;
    margin-left: 0px;
    line-height: 18px;
}

.end {
    margin-left: 51px;
    width: 100px;
}

.end a:hover {
    color: #ffd180;
    text-decoration: underline;   
}

.end a:active {
    color: #d13644;
    text-decoration: underline;   
}

.developer p {
    margin-top: 18px;
    color: white;
    margin-bottom: 0px;
    line-height: 18px;
    font-family: "Cuprum";
    font-size: 16px;
}

.developer a {
    color: #ffd180;
    text-decoration: none;
}

.developer a:hover {
    color: #ffd180;
    text-decoration: underline;
}

.developer a:active {
    color: #d13644;
    text-decoration: none;
}

                 /*--------------стилизация страницы каталога----------------*/

.red {
    background:#ee3643;
}

.user-registration {
    display: none;
}

.user {
    background:white;
    margin-top: 25px;
    position: relative;
}

.user-name {
    font-size: 21px;
    display: inline-block;
    vertical-align: top;
    padding-left: 46px;
    padding-top: 12px;
    padding-bottom: 10px;
    text-decoration: none;
    color:black;
    position: relative;
}

.user-name:active {
    color: #cacaca;   
}

.user-name::before {
    content:"";
    position: absolute;
    background: url("../img/sprite.png") -194px -302px no-repeat;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 18px;
}

.user-name:hover::before {
    content:"";
    position: absolute;
    background: url("../img/sprite.png") -134px -302px no-repeat;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 18px;
}

.user-name:active::before {
    content:"";
    position: absolute;
    background: url("../img/sprite.png") -194px -302px no-repeat;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 18px;
}

.sign-out {
    position: absolute;
    background: url("../img/sprite.png") -261px -77px no-repeat;
    top: 15px;
    left: 267px;
    width: 21px;
    height: 17px;
}

.sign-out:hover {
    position: absolute;
    background: url("../img/sprite.png") -262px -134px no-repeat;
    top: 15px;
    left: 267px;
    width: 21px;
    height: 17px;
}

.sign-out:active {
    position: absolute;
    background: url("../img/sprite.png") -261px -77px no-repeat;
    top: 15px;
    left: 267px;
    width: 21px;
    height: 17px;
}

.user-menu {
    display: inline-block;   
    margin-left: 36px;
    margin-top: 5px;
}

.user-order {
    font-size: 16px;
    color:#32425c;
    position: relative;
    padding-right: 29px;
    text-decoration: underline; 
}

.user-order::after {
    content: "";
    color: #32425c;
    border-radius: 50%;
    background: #32425c;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 89px;
}

.user-cabinet {
    font-size: 16px;
    color:#32425c;
    text-decoration: underline;
}

.user-order:hover,
.user-cabinet:hover {
    color: #ee3643;
}

.user-order:active,
.user-cabinet:active {
    color: #cacaca; 
}

.breadcrumbs {
    margin: 0px;
    padding-left: 10px;
}

.breadcrumbs li {
    position: relative; 
    font-size: 13px;
    font-family: "PT Sans";
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 13px;
    float: left;
    padding-right: 20px;
    list-style-type: none;
    line-height: 18px;
}

.house {
    padding-left: 0px;
    position: relative;
}

.breadcrumbs a {
    display: block;
    color:black;     
}

.breadcrumbs-after::after {
    content:"";
    position: absolute;
    left:-12px;
    width: 15px;
    height: 12px;
    background: url("../img/sprite.png") -200px -83px no-repeat;
    display: inline-block;
    top: 22px;
}

.breadcrumbs-1::before {
    content:"";
    position: absolute;
    left:-15px;
    width: 8px;
    height: 12px;
    background: url("../img/sprite.png") -264px -250px no-repeat;
    display: inline-block;
    top: 22px;
}

.breadcrumbs-1::after {
    content:"";
    position: absolute;
    left: 80px;
    width: 8px;
    height: 12px;
    background: url("../img/sprite.png") -264px -250px no-repeat;
    display: inline-block;
    top: 22px;
}

.breadcrumbs-2 {
    padding-left: 6px;
}

.breadcrumbs-2::after {
    content:"";
    position: absolute;
    left: 116px;
    width: 8px;
    height: 12px;
    background: url("../img/sprite.png") -264px -250px no-repeat;
    display: inline-block;
    top: 22px;
}

.breadcrumbs-3 {
    padding-left: 10px;
}

.popular-products-catalog {
    background: #f2f6f8;
    margin-bottom: 23px;
}

.filter {
    width: 220px;
    float:left;
    background: #f7f3ec;
    padding-top: 0px;
    padding-bottom: 0px;
    text-transform:uppercase;
    margin-top: 0px;
}

.filter p {
    padding-left: 18px;
    font-size: 13px;
    font-family: "PT Sans";
    margin: 0px;
    padding-bottom: 7px;
    padding-top: 7px;
    display: inline-block;
}

.price-left-column {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    clear: both;
    font-family: "PT Sans";
    padding-top: 13px;
    padding-bottom: 19px;
}

.range-filter {
    position: relative;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 8px;
    border-radius:0px 0px 5px 5px;
    background: #f7f3ec;
 }

.scale::after {
    content:"";
    position: absolute;
    height: 2px;
    padding-left:-20px;
    background: #d7dcde;
    top: 38px;
    left: 20px;
    width: 180px;
    display: inline-block;
}

.bar {
    position: absolute;
    height: 2px;
    background: #00ca74;
    top: 38px;
    left: 20px;
    width: 147px;
    z-index: 200;
}

.toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    z-index: 300;
}

.toggle-min {
    left: 19px;
}

.toggle-max {
    left: 158px;
}

.slider-price {
    font-size: 0;
    border-bottom: 1px solid #e5e5e5;
    width: 220px;
    padding-bottom: 25px;
}

.price-field {
    background:#f7f3ec;
    border: none;
    font-family: "PT Sans", 'Arial', sans-serif;
    font-size: 17px;
    width: 75px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 3px;
    float: left;
    margin-right: 10px;
    position: relative;
    line-height: 18px;
}

.right-field {
    margin-right: 0px;
    float: right;
}

.delimiter {
    width: 10px;
    height: 1px;
    position: relative;
    float: left;
} 

.delimiter::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 19px;
    width: 10px;
    height: 1px;
    background-color: #444444;
 } 

.form-block-title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    clear: both;
    font-family: "PT Sans";
    padding-top: 1px;
    padding-bottom: 0px;   
    margin-left: -1px;
    margin-top: 18px;
    margin-bottom: 16px;
}

.form-block label:hover {
    background:white;
}

.brand-form-block {
    border-bottom: 1px solid #e5e5e5; 
    padding-bottom: 7px;
    padding-left: 0px;
    margin-bottom: 19px;
}

.brand-form-block label {
    margin-left: 32px;
    position: relative;
    cursor: pointer;
}

.brand-form-block li:nth-child(5) {
    padding-top: 3px;
    margin-bottom: 13px;
}

.form-block li {
    list-style-type: none;
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: 15px;
    color:#000000;
    width: 160px;
    margin-bottom: 15px;
 }

.brand-form-block label::before {
    content: "";
    position: absolute;
    top: 0px;
    left:-35px;
    width: 27px;
    height: 23px;
    background:url("../img/sprite.png") -131px -20px no-repeat;
}

.input-form-block[type="checkbox"] {
    display: none;
}

.input-form-block[type="checkbox"]:checked ~ label::before {
    width: 27px;
    height: 23px;
    background:url("../img/sprite.png") -194px -20px no-repeat;
}

.input-show {
    font-size: 13px;
    font-family: "PT Sans";
    border: 1px solid #e5e5e5;
    background: white;
    width: 140px;
    text-transform: uppercase;
    vertical-align: top;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 3px;
    line-height: 18px;
}

.power-form-block {
    margin-bottom: 75px;
    padding-left: 0px;
}

.power-form-block label {
    position: relative;
    cursor: pointer;
    margin-left: 32px;
}

.input-power[type="radio"] {
    display: none;
} 

.power-label::before {
    content: "";
    position: absolute;
    top: 0px;
    left:-35px;
    width: 25px;
    height: 25px;
    background:url("../img/sprite.png") -20px -83px no-repeat;
}

.input-power[type="radio"]:checked ~ label::before {
    width: 25px;
    height: 25px;
    background:url("../img/sprite.png") -85px -83px no-repeat;
}

.right-column {
    float: right;
    background: #f7f3ec;
    padding-top: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
    width: 700px;   
    margin-top:-3px;
    margin-bottom: 21px;
}

.items-sort li {
    line-height: 18px;
    display: inline-block;   
}

.left-column-search-filter {
    float: left;
    width: 220px;   
    margin-top:-3px;
}

.goods {
     float: right;
     width: 700px;   
}

.catalog-3 {
    margin-right: 0px;   
    padding-bottom: 1px;
    width: 217px;
}

.item-title-catalog-3 {
    padding: 0 25px;
    margin-top: 11px;
    margin-bottom: 44px;
    font-size: 18px;
    font-family: "PT Sans";
    font-weight: bold;
}

.item-title-4 {
    padding: 0 20px;
    margin-top: 11px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "PT Sans";
    font-weight: bold;
}

.item-title-flag {
    min-height: 40px;
    font-size: 18px;
    font-family: "PT Sans";
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 8px;
    padding: 0 20px;
}

.scale {
    padding: 0px;
}

.goods .item:nth-child(4) {
    margin-right: 19px;
}

.word-sort {
    font-size: 13px;
    font-family: "PT Sans";
    margin-left: 18px;
    margin-right: 136px;
}

.item-sort {
    font-size: 13px;
    font-family: "PT Sans";
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted;
    border-color:#ee3643; 
    margin-right: 65px;
    position: relative;
}
 
 .item-sort:hover {
    border-bottom: 1px solid #ee3643;   
    color: black;
}

.item-sort:active {
    border-bottom: none;   
    color: #ee3643;
}

.items-sort {
    padding-left: 0px;
    margin-top: 7px;
    margin-bottom: 7px;   
}

.act {
    color:#ee3643;
    border-bottom: none;
}

.item-sort:nth-child(5) {
    margin-right: 0px;
}

.item-sort:nth-child(6) {
    margin-right: 0px;
}

.decor-up::before {
    content: "";
    position: absolute;
    left:-23px;
    top:-7px;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: #ee3643 transparent;
    margin-right: 0px;
}

.decor-down::before {  
    content: "";
    position: absolute;
    left: 6px;
    top:-7px;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #c6c2bd transparent;
    margin-right: 0px;
}

.decor-down:hover::before,
.decor-up:hover::before {
    border-color: #000000 transparent;    
}

.decor-down:active::before,
.decor-up:active::before {
    border-color: #ee3643 transparent;    
}

.paginator {
    margin-top: 30px;
    margin-bottom: 61px;
    margin-left: -1px;
}

.paginator a {
    display: inline-block;
    min-width: 36px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
    vertical-align: top;
    line-height: 38px;
    font-size: 13px;
    font-family: "PT Sans";
    text-transform: uppercase;
    margin-right: 7.3px;
    color: black;
}

.paginator .current {
    background: #ee3643;
    color: #ffffff;
    border-color: #ee3643;
}

.paginator a:last-child {
    padding: 0 30px 0 32px;
    margin-left:-2px;
}

.paginator a:hover {
    border-color: #bdc6ca;
}

.paginator a:active {
    border-color: #ee3643;
}

.about {
    padding-bottom:57px;
    background:#f2f6f8;  
}

.about-title {
    color:#000000;
    margin-top: 61px;
    display: inline-block;
    margin-bottom: 15px;
}

.about p {
    font-size: 13px;
    font-family: "PT Sans";
}

/*модальные окна*/

.pop-up-basket {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2000;
    width: 620px;
    background-color: #ffffff;
    border-top: 7px solid #ee3643;
    border-bottom: 112px solid #f1f1f1;
    box-shadow: 0 20px 40px 0 #767d8b;
    display: none;
    transform: translate(-50%, -50%);
}

.pop-up-basket-close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color:white;
    border: 0;
    cursor: pointer;
    z-index: 50000;
} 

.pop-up-basket-close::before,
.pop-up-basket-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 25px;
    height: 5px;
    background-color: #ee3643;
    border-radius: 0px;
    padding-left: 0px;
}

.pop-up-basket-close::before {
    transform: rotate(45deg);
}

.pop-up-basket-close::after {
    transform: rotate(-45deg);
}

.pop-up-message {
    font-family: "Cuprum";
    font-size: 30px;
    display: block;
    padding-top: 37px;
    margin-bottom: 77px;
    padding-left: 50px;
    text-align: center;
    line-height: 18px;
}

.pop-up-message::before {
    content:"";
    position: absolute;
    background: #63a63e;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    top: 10px;
    left: 80px;
}

.pop-up-message::after {
    content:"";
    position: absolute;
    background: url("../img/Shape-big.png")no-repeat;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    top: 30px;
    left: 95px;
    width: 39px;
    height: 30px;
}

.pop-up-order {
    position: relative;
}

.order {
    width: 220px;
    position: absolute;
    top: 200px;
    left: 80px;
    line-height: 18px;
    margin: 0px;
}

.continue {
    margin: 0px;
    width: 220px;
    background-color: white;
    color: black;
    position: absolute;
    top: 200px;
    left: 320px;
    line-height: 18px;
}

.pop-up-letter {
    display: none;
    width: 620px;    
    position: fixed;
    top: 50%; 
    left: 50%;
    z-index: 2000;
    background-color: #ffffff;
    border-top: 7px solid #ee3643;
    box-shadow: 0 20px 40px 0 #747b89;
    transform: translate(-50%, -50%);
    border-bottom: 112px solid #f1f1f1;
}

.pop-up-letter label {
    display: block;
    font-family: "Cuprum";
    font-size: 18px;
    margin-top: 49px;
    margin-bottom: 10px;
    line-height: 18px;
}

.pop-up-letter input {
    width: 220px;
    border: 2px solid #d7dcde;
    font-family: "PT Sans";
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
    color:#999999;
    font-size: 13px;
    line-height: 18px;
}

.email-field {
    padding-top: 0px;
    float: right;
    margin-right: 80px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 3px;
}

.name-field {
    margin-left: 80px;
    float: left;
    margin-bottom: 20px;
    border-radius: 3px;
    box-sizing: border-box;
}

.pop-up-letter label:hover {
    background:white;
}

.letter-text textarea {
    text-align: left;
    width: 460px;   
    height: 114px;
    border: 2px solid #d7dcde;
    padding-left: 15px;
    padding-top: 7px;
    border-radius: 3px;
    box-sizing: border-box;
    color:#999999;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
}

.letter-text {
    float: left;
    clear: both;
    margin-bottom: 38px;
    margin-left: 80px;
}

.pop-up-btn {
    width: 460px;   
    margin-bottom: 0px;
    margin-right: 90px;
    border: none;
    font-family: "Cuprum";
    position: absolute;
    top: 380px;
    left: 80px;
    line-height: 18px;
}

.modal-content-map {
    width: 940px;
    height: 476;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    display: none; 
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.7);
    z-index: 500;
}

.map-close {
    background-color:transparent; 
}

.modal-content-show {
    display: block;
}

.modal-content-show-2 {
    display: block;  
    animation: bounce 0.9s;
}

.modal-content-show-3 {
    display: block;  
}

@keyframes bounce {
  0%  {
    transform: translateX(-900px);
}
}
